html {
    scroll-behavior: smooth;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 43px;
    padding: 43px 0 96px 0;
}

.title {
    width: 100%;
    text-align: center;
}

.img {
    width: 100%;
}

.figure {
    width: 27%;
    margin: 0;
}

.figcaption {
    text-align: center;
}

.footer {
    margin: 0 0 0 30px;
}

img:hover{
    transform: scale(1.2);
    box-shadow: 15px 15px 10px 0 #575751;
}